<div class="log">
    <br />
    <div id="logreg-forms">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Login</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Com Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Com Google</span> </button>
            </div>
            <p style="text-align:center"> ou  </p>
            <input type="email" id="inputEmail" class="form-control" placeholder=" Endereço de email" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder=" Senha" required="">

            <button class="btn btn-success btn-block" asp-area="" asp-controller="Home" asp-action="Privacy"type="submit"><i class="fas fa-sign-in-alt" ></i> Logar</button>
            <a href="#" id="forgot_pswd"> Esqueceu sua senha?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Criar uma conta</button>
        </form>

        <form action="/reset/password/" class="form-reset">

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Criar nova senha</h1>

        <input type="email" id="resetEmail" class="form-control" placeholder=" Endereço de email" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Senha</button>
            <hr />
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Voltar</a>
        </form>

        <form action="/signup/" class="form-signup">

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Cadastre-se</h1>

            <input type="text" id="user-name" class="form-control" placeholder=" Nome completo" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder=" Endereço de email" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder=" Senha" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder=" Repita a senha" required autofocus="">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Cadastrar</button>
        <hr />

        <p style="text-align:center">ou</p>

        <div class="social-login2">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Com Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Com Google</span> </button>
        </div>

        <hr />
        <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Voltar</a>

        </form>
        <br>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <h3>Obrigado por pelo seu tempo!</h3>
        <p>
            Agradecemos por escolher a Geek Street como sua loja de preferência para camisas e acessórios temáticos
            Geek. Foi um prazer atendê-lo e esperamos que você tenha encontrado produtos que agregaram estilo e
            diversão à sua vida. Estamos sempre aqui para oferecer produtos incríveis e um serviço excepcional.
            Continue explorando o mundo Geek e lembre-se de que estamos aqui para satisfazer todas as suas
            necessidades Geek. Até a próxima aventura!

            Lembre-se de seguir-nos nas redes sociais e inscrever-se em nossa newsletter para ficar por dentro das
            últimas novidades, promoções e lançamentos. Estamos ansiosos para tê-lo novamente como nosso cliente em
            breve. Obrigado por fazer parte da comunidade Geek Street. Até logo!
        </p>

    </div>
    <br />
    <div class="footer-bottom">
        Geek Street 2023&copy;

    </div>
</footer>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    function toggleResetPswd(e) {
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle() // display:block or none
        $('#logreg-forms .form-reset').toggle() // display:block or none
    }

    function toggleSignUp(e) {
        e.preventDefault();
        $('#logreg-forms .form-signin').toggle(); // display:block or none
        $('#logreg-forms .form-signup').toggle(); // display:block or none
    }

    $(() => {
        // Login Register Form
        $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
        $('#logreg-forms #cancel_reset').click(toggleResetPswd);
        $('#logreg-forms #btn-signup').click(toggleSignUp);
        $('#logreg-forms #cancel_signup').click(toggleSignUp);
    })
    </script>
