
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- INICIO NAVBAR -->
<html lang="en">
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white" text-white" asp-area="" asp-controller="Home" asp-action="Index">
                Geek <img class="logo" src="/logotipo/logotipo.png" /> Street
            </a>
            <div class="d-lg-flex justify-content-end" id="navbarNav">
                <div class="cabloja">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Produto">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="home"><i class="fa fa-home"> Inicio</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Produto"><i class="fa fa-heart"> Favoritos</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Produto"><i class="fa fa-cart-plus"> Minhas compras</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Produto"><i class="fa fa-user-circle-o"> Perfil</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</body>
</html>


<script>
    

</script>