<style>

    .conteudo{
        display:grid;
        width:100%;
        background-image:url('/logotipo/HQs.png');
    }

    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transition: all 300ms;
    }

        .product-container :hover {
        opacity: 0.9;
        transform: scale(1.10);
    }

    .product {
        background-color:white;
        width: 200px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        
    }
    

        .product img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }

        .product h2 {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .product p {
            font-size: 14px;
            margin-bottom: 5px;
        }
</style>

<br>
<br>
<br>

<br />
<h1 class="title-carrossel"><b>Produtos de Series</b></h1>
<br />
<main class="conteudo">
    <br />
    <div class="product-container">
        <div class="product">
            <img src="/camisetas/garrafa escarlat.png" alt="Produto 1">
            <h2>Produto 1</h2>
            <p>Garrafa escarlat</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/capinha escalate.jpg" alt="Produto 2">
            <h2>Produto 2</h2>
            <p>Capinha escalate</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SW1.png" alt="Produto 1">
            <h2>Produto 3</h2>
            <p>Cami. feiticeira escalate</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SW2.jpg" alt="Produto 2">
            <h2>Produto 4</h2>
            <p>Cami. feiticeira escalate</p>
            <p>R$ 15,00</p>
        </div>
         <div class="product">
            <img src="/camisetas/SW3.png" alt="Produto 1">
            <h2>Produto 5</h2>
            <p>Cami. feiticeira escalate</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SW4.png" alt="Produto 2">
            <h2>Produto 6</h2>
            <p>Cami. feiticeira escalate</p>
            <p>R$ 15,00</p>
        </div>
         <div class="product">
            <img src="/camisetas/DWD1.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/DWD2.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
         <div class="product">
            <img src="/camisetas/DWD3.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/DWD4.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
         <div class="product">
            <img src="/camisetas/DWD6.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SN1.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
         <div class="product">
            <img src="/camisetas/SN2.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SN3.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/SN4.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
    </div>
    <br />
</main>

<br />
<h1 class="title-carrossel"><b>Produtos de Animes</b></h1>
<br />
<main class="conteudo">
    <br />
    <div class="product-container">
        <div class="product">
            <img src="/camisetas/BKH1.png" alt="Produto 1">
            <h2>Produto 1</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/BKH2.png" alt="Produto 2">
            <h2>Produto 2</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/BKH3.png" alt="Produto 1">
            <h2>Produto 3</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/BKH4.png" alt="Produto 2">
            <h2>Produto 4</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT1.png" alt="Produto 1">
            <h2>Produto 5</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT2.png" alt="Produto 2">
            <h2>Produto 6</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT3.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT4.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/PK3.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK4.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK5.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK7.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (5).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (6).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (29).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (36).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
    </div>
    <br />
</main>
<br />
<h1 class="title-carrossel"><b>Produtos de Filmes</b></h1>
<br />
<main class="conteudo">
    <br />
    <div class="product-container">
        <div class="product">
            <img src="/camisetas/39547187_1.webp" alt="Produto 1">
            <h2>Produto 1</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/39547187_1.webp" alt="Produto 2">
            <h2>Produto 2</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/" alt="Produto 1">
            <h2>Produto 3</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/BKH4.png" alt="Produto 2">
            <h2>Produto 4</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT1.png" alt="Produto 1">
            <h2>Produto 5</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT2.png" alt="Produto 2">
            <h2>Produto 6</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT3.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/NT4.png" alt="Produto 2">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 15,00</p>
        </div>
        <div class="product">
            <img src="/camisetas/PK3.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK4.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK5.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/PK7.png" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (5).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (6).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (29).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div><div class="product">
            <img src="/camisetas/Camiseta (36).jpg" alt="Produto 1">
            <h2>Produto</h2>
            <p>Descrição do Produto</p>
            <p>R$ 10,00</p>
        </div>
    </div>
    <br />
</main>
<br />

<div class="carrossel">
    <br />
    <h2 class="title-carrossel"><b>Novidades já disponiveis</b></h2>
    <br />
    <main class="main">

        <section class="galery">
            <div class="fotos">
                <img src="/logotipo/apex.png" alt="Imagem 1">
                <img src="/logotipo/0000.png" alt="Imagem 2">
                <img src="/logotipo/AVATAR.png" alt="Imagem 3">
                <img src="/logotipo/LOL1.png" alt="Imagem 4">
                <img src="/logotipo/projeto02.jpg" alt="Imagem 5">
            </div>

        </section>

    </main>
</div>
<br>
<br>

<div class="sli-carr-prod">
    <br>
    <br>
  <div class="slider-container">
    <div class="slider">
        <div class="slider-card">
            <img src="/camisetas/A1.png" alt="Imagem 1">
            <h3>Produto 1</h3>
                <p class="price">$19.99</p>
                <div class="buttons">
                    <button class="card-button1" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                        <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                    </button>
                    <!-- <div class="con-like">
                        <input title="like" type="checkbox" class="like">
                        <div class="checkmark">
                            <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                </path>
                            </svg>
                            <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                </path>
                            </svg>
                            <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,10 20,20" class="poly"></polygon>
                                <polygon points="10,50 20,50" class="poly"></polygon>
                                <polygon points="20,80 30,70" class="poly"></polygon>
                                <polygon points="90,10 80,20" class="poly"></polygon>
                                <polygon points="90,50 80,50" class="poly"></polygon>
                                <polygon points="80,80 70,70" class="poly"></polygon>
                            </svg>
                        </div>
                    </div>-->
                </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/A2.png" alt="Imagem 2">
            <h3>Produto 2</h3>
                <p class="price">$24.99</p>
                <div class="buttons">
                    <button class="card-button2" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                        <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                    </button>
                    <!--<div class="con-like">
                        <input title="like" type="checkbox" class="like">
                        <div class="checkmark">
                            <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                </path>
                            </svg>
                            <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                </path>
                            </svg>
                            <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,10 20,20" class="poly"></polygon>
                                <polygon points="10,50 20,50" class="poly"></polygon>
                                <polygon points="20,80 30,70" class="poly"></polygon>
                                <polygon points="90,10 80,20" class="poly"></polygon>
                                <polygon points="90,50 80,50" class="poly"></polygon>
                                <polygon points="80,80 70,70" class="poly"></polygon>
                            </svg>
                        </div>
                    </div>-->
                </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/A3.png" alt="Imagem 3">
            <h3>Produto 3</h3>
                <p class="price">$29.99</p>
                <div class="buttons">
                    <button class="card-button3" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                        <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                    </button>
                    <!-- <div class="con-like">
                        <input title="like" type="checkbox" class="like">
                        <div class="checkmark">
                            <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                </path>
                            </svg>
                            <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                </path>
                            </svg>
                            <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,10 20,20" class="poly"></polygon>
                                <polygon points="10,50 20,50" class="poly"></polygon>
                                <polygon points="20,80 30,70" class="poly"></polygon>
                                <polygon points="90,10 80,20" class="poly"></polygon>
                                <polygon points="90,50 80,50" class="poly"></polygon>
                                <polygon points="80,80 70,70" class="poly"></polygon>
                            </svg>
                        </div>
                    </div>-->
                </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/A4.png" alt="Imagem 4">
            <h3>Produto 4</h3>
                <p class="price">$14.99</p>
                <div class="buttons">
                    <button class="card-button4" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                        <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                    </button>
                    <!--<div class="con-like">
                        <input title="like" type="checkbox" class="like">
                        <div class="checkmark">
                            <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                </path>
                            </svg>
                            <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                </path>
                            </svg>
                            <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                                <polygon points="10,10 20,20" class="poly"></polygon>
                                <polygon points="10,50 20,50" class="poly"></polygon>
                                <polygon points="20,80 30,70" class="poly"></polygon>
                                <polygon points="90,10 80,20" class="poly"></polygon>
                                <polygon points="90,50 80,50" class="poly"></polygon>
                                <polygon points="80,80 70,70" class="poly"></polygon>
                            </svg>
                        </div>
                    </div>-->
                </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/BKH1.png" alt="Imagem 5">

            <h3>Produto 5</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button5" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!--<div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>

        <div class="slider-card">
            <img src="/camisetas/A3.png" alt="Imagem 5">

            <h3>Produto 6</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button6" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!--<div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/BKH4.png" alt="Imagem 5">

            <h3>Produto 7</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button7" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!-- <div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/DWD2.png" alt="Imagem 5">

            <h3>Produto 8</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button8" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!-- <div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/LS5.png" alt="Imagem 5">

            <h3>Produto 9</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button9" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!--<div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/NT2.png" alt="Imagem 5">

            <h3>Produto 10</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button10" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!--<div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/PK3.png" alt="Imagem 5">

            <h3>Produto 11</h3>
            <p class="price">$34.99</p>
            <div class="buttons">
                <button class="card-button11" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!--<div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="slider-card">
            <img src="/camisetas/garrafa escarlat.png" alt="Imagem 5">

            <h3>Produto 12</h3>
            <p class="price">$14.99</p>
            <div class="buttons">
                <button class="card-button12" style="border: none; background: transparent;  cursor: pointer;   pointer-events: auto;">
                    <ion-icon class="clickable-icon" name="bag-handle-outline"></ion-icon>
                </button>
                    <!-- <div class="con-like">
                    <input title="like" type="checkbox" class="like">
                    <div class="checkmark">
                        <svg viewBox="0 0 24 24" class="outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="slider-controls">
        <button type="button" class="nextBtn">&lt;</button>
        <button type="button" class="prevBtn">&gt;</button>
    </div>
  </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <h3>Obrigado por pelo seu tempo!</h3>
        <p>
            Agradecemos por escolher a Geek Street como sua loja de preferência para camisas e acessórios temáticos
            Geek. Foi um prazer atendê-lo e esperamos que você tenha encontrado produtos que agregaram estilo e
            diversão à sua vida. Estamos sempre aqui para oferecer produtos incríveis e um serviço excepcional.
            Continue explorando o mundo Geek e lembre-se de que estamos aqui para satisfazer todas as suas
            necessidades Geek. Até a próxima aventura!

            Lembre-se de seguir-nos nas redes sociais e inscrever-se em nossa newsletter para ficar por dentro das
            últimas novidades, promoções e lançamentos. Estamos ansiosos para tê-lo novamente como nosso cliente em
            breve. Obrigado por fazer parte da comunidade Geek Street. Até logo!
        </p>

    </div>
    <br />
    <div class="footer-bottom">
        Geek Street 2023&copy;

    </div>
</footer>

<script>
    const slider = document.querySelector('.slider');
    const nextBtn = document.querySelector('.nextBtn');
    const prevBtn = document.querySelector('.prevBtn');
    let sliderCardWidth = document.querySelector('.slider-card').offsetWidth;
    let sliderVisibleCards = Math.floor(slider.offsetWidth / sliderCardWidth);

    let slidePosition = 0;

    nextBtn.addEventListener('click', () => {
        if (slidePosition > 0) {
            slidePosition--;
            slider.style.transform = `translateX(-${slidePosition * sliderCardWidth}px)`;
        }
    });

    prevBtn.addEventListener('click', () => {
        if (slidePosition < slider.children.length - sliderVisibleCards) {
            slidePosition++;
            slider.style.transform = `translateX(-${slidePosition * sliderCardWidth}px)`;
        }
    });

    // Atualiza a quantidade de cards visíveis quando a janela for redimensionada
    window.addEventListener('resize', () => {
        sliderCardWidth = document.querySelector('.slider-card').offsetWidth;
        sliderVisibleCards = Math.floor(slider.offsetWidth / sliderCardWidth);
    });

    //----------------------------animação do botão do carrinho------------------------//

    const cards = document.querySelectorAll('.slider-card');

    cards.forEach(card => {
        const icon = card.querySelector('.clickable-icon');

        icon.addEventListener('click', function () {
            icon.classList.add('clicked');
            setTimeout(function () {
                icon.classList.remove('clicked');
            }, 500);
        });
    });
</script>