
<!-- AREA DOS CARDS -->
<div class="flex-container">

    <!---- CARD1 ---->
    <div class="card">
        <div class="carta" id="card1">
            <img class="camiseta" src="./camisetas/SW1.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Scarlet Witch
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="camisetas/SW2.jpg"></button>
                <button class="option" data-image="camisetas/SW3.png"></button>
                <button class="option" data-image="camisetas/SW4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD2 ---->
    <div class="card">
        <div class="carta" id="card2">
            <img class="camiseta" src="Assets/camisetas/DWD6.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt TWD

            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/DWD1.png"></button>
                <button class="option" data-image="Assets/camisetas/DWD2.png"></button>
                <button class="option" data-image="Assets/camisetas/DWD3.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD3 ---->
    <div class="card">
        <div class="carta" id="card3">
            <img class="camiseta" src="Assets/camisetas/PN4.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Pantera Negra
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/PN1.png"></button>
                <button class="option" data-image="Assets/camisetas/PN2.png"></button>
                <button class="option" data-image="Assets/camisetas/PN3.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD4 ---->
    <div class="card">
        <div class="carta" id="card4">
            <img class="camiseta" src="Assets/camisetas/PK5.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Pokémon
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/PK4.png"></button>
                <button class="option" data-image="Assets/camisetas/PK3.png"></button>
                <button class="option" data-image="Assets/camisetas/PK7.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD5 ---->
    <div class="card">
        <div class="carta" id="card5">
            <img class="camiseta" src="Assets/camisetas/A4.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Avatar
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/A1.png"></button>
                <button class="option" data-image="Assets/camisetas/A2.png"></button>
                <button class="option" data-image="Assets/camisetas/A3.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD6 ---->
    <div class="card">
        <div class="carta" id="card6">
            <img class="camiseta" src="Assets/camisetas/SN3.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Supernatural
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/SN1.png"></button>
                <button class="option" data-image="Assets/camisetas/SN2.png"></button>
                <button class="option" data-image="Assets/camisetas/SN4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD7 ---->
    <div class="card">
        <div class="carta" id="card7">
            <img class="camiseta" src="Assets/camisetas/LS1.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Lilo & Stitch
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/LS2.png"></button>
                <button class="option" data-image="Assets/camisetas/LS3.png"></button>
                <button class="option" data-image="Assets/camisetas/LS4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD8 ---->
    <div class="card">
        <div class="carta" id="card8">
            <img class="camiseta" src="Assets/camisetas/TM1.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Transformers
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/TM2.png"></button>
                <button class="option" data-image="Assets/camisetas/TM3.png"></button>
                <button class="option" data-image="Assets/camisetas/TM4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD9 ---->
    <div class="card">
        <div class="carta" id="card9">
            <img class="camiseta" src="Assets/camisetas/BKH1.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Boku no Hero
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/BKH2.png"></button>
                <button class="option" data-image="Assets/camisetas/BKH3.png"></button>
                <button class="option" data-image="Assets/camisetas/BKH4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <!---- CARD10 ---->
    <div class="card">
        <div class="carta" id="card10">
            <img class="camiseta" src="Assets/camisetas/NT1.png" alt="Camiseta Feiticeira Escarlate">
            <div class="title">
                T-Shirt Naruto
            </div>
            <span class="preco">R$ 109,90</span>
            <br><br>
            <div class="options">
                <button class="option" data-image="Assets/camisetas/NT2.png"></button>
                <button class="option" data-image="Assets/camisetas/NT3.png"></button>
                <button class="option" data-image="Assets/camisetas/NT4.png"></button>
            </div>
            <div class="buttons">
                <button class="card-button">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </button>
                <button class="card-heart">
                    <ion-icon name="heart-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
